<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>GoogleHomePageAutomationTask</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a287af">  <td>21/09/16 15:03:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleHomePage.elementIsPresentHomePageGoogleTest()[pri:0, instance:com.truefithometest.testcases.GoogleHomePage@3911c2a7]">elementIsPresentHomePageGoogleTest</td> 
  <td>main@1089418272</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>21/09/16 15:03:35</td>   <td>142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleHomePage.searchFuncitonHomePageGoogleTest()[pri:1, instance:com.truefithometest.testcases.GoogleHomePage@3911c2a7]">searchFuncitonHomePageGoogleTest</td> 
  <td>main@1089418272</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>21/09/16 15:03:32</td>   <td>-2799</td> <td title="&gt;&gt;TestBase.setUP()[pri:0, instance:com.truefithometest.testcases.GoogleHomePage@3911c2a7]">&gt;&gt;setUP</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1089418272</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>21/09/16 15:03:38</td>   <td>3617</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.truefithometest.testcases.GoogleHomePage@3911c2a7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1089418272</td>   <td></td> </tr>
</table>
