<h2>Reporter output</h2><table><tr><td>TC-000 THE HOME PAGE IS LANDED</td></tr>
<tr><td>TC-001 THE HOME PAGE LOGO is PRESENT and DISPLAYED</td></tr>
<tr><td>TC-002 THE HOME PAGE SEARCH TEXT FIELD is PRESENT and DISPLAYED</td></tr>
<tr><td>TC-003 THE HOME PAGE SEARCH BUTTONE is PRESENT and DISPLAYED</td></tr>
<tr><td>TC-004 THE SEARCH TEXT MAY BE ENTERED INTO SEARCH FIELD: True Fit</td></tr>
<tr><td>TC-005 CLICKING THE 'GOOGLE SEARCH' BUTTON WITH SEARCH TEXT YIELDS SEARCH RESULT </td></tr>
<tr><td>TC-006 CLICKING THE SEARCH BUTTON WITH NO SEARCH TEXT WILL NOT PERFORM A SEARCH</td></tr>
</table>