<h2>Reporter output</h2><table><tr><td>TC-0 THE HOME PAGE IS LANDED</td></tr>
<tr><td>TC-1 THE HOME PAGE LOGO IS PRESENT</td></tr>
<tr><td>TC-2 THE HOME PAGE SEARCH TEXT FIELD IS PRESENT</td></tr>
<tr><td>TC-3 THE HOME PAGE SEARCH BUTTONE IS PRESENT</td></tr>
<tr><td>TC-4 THE SEARCH TEXT MAY BE ENTERED INTO SEARCH FIELD: True Fit</td></tr>
<tr><td>TC-5 CLICKING THE SEARCH BUTTON WITH SEARCH TEXT YIELDS SEARCH RESULTS</td></tr>
<tr><td>TC-6 CLICKING THE SEARCH BUTTON WITH NO SEARCH TEXT WILL NOT PERFORM A SEARCH</td></tr>
</table>