<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e9adcf">  <td>21/09/15 00:42:30</td>   <td>0</td> <td title="&gt;&gt;TestBase.setUP()[pri:0, instance:com.truefithometest.testcases.GoogleHomePage@4313f5bc]">&gt;&gt;setUP</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1877453512</td>   <td></td> </tr>
<tr bgcolor="736495">  <td>21/09/15 00:42:35</td>   <td>4953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleHomePage.logoHomePage()[pri:0, instance:com.truefithometest.testcases.GoogleHomePage@4313f5bc]">logoHomePage</td> 
  <td>main@1877453512</td>   <td></td> </tr>
<tr bgcolor="e9adcf">  <td>21/09/15 00:42:45</td>   <td>15015</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.truefithometest.testcases.GoogleHomePage@4313f5bc]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1877453512</td>   <td></td> </tr>
</table>
